# Copyright 2025 Dotanuki Labs
# SPDX-License-Identifier: MIT

name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-24.04

    steps:
      - name: Project Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Lint Bash Scripts
        uses: dotanuki-labs/github-actions/quality/bash@fd61dd80c7d022b240d78bb1b8d73f28eced8a17

      - name: Check MIT license on source files
        uses: korandoru/hawkeye@2f80559b06187bcd1aa7bca5138fe5e5c53e275f # v6.3.0

      - name: Run Component Tests
        run: ./component-tests.sh
