# Copyright 2025 Dotanuki Labs
# SPDX-License-Identifier: MIT

name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-24.04

    steps:
      - name: Project Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Lint Bash Scripts
        uses: dotanuki-labs/github-actions/quality/bash@ca748c757ac1f11acc71ec131e2c3a9c850d23f8

      - name: Check MIT license on source files
        uses: korandoru/hawkeye@2f80559b06187bcd1aa7bca5138fe5e5c53e275f # v6.3.0

      - name: Run Component Tests
        run: ./component-tests.sh
