# Copyright 2025 Dotanuki Labs
# SPDX-License-Identifier: MIT

name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-24.04

    steps:
      - name: Project Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Lint Bash Scripts
        uses: dotanuki-labs/github-actions/quality/bash@94e620b50bc8470655184441061d4bfa400dfb5f

      - name: Check MIT license on source files
        uses: korandoru/hawkeye@2f80559b06187bcd1aa7bca5138fe5e5c53e275f # v6.3.0

      - name: Run Component Tests
        run: ./component-tests.sh
